fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
sqlalchemy==2.0.43
alembic==1.16.5
psycopg[binary]==3.2.9
boto3==1.40.26
python-hcl2==7.3.1
python-multipart==0.0.20
email-validator==2.2.0
PyJWT==2.10.1
passlib[bcrypt]==1.7.4
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.7.1
pytest==8.4.1
httpx==0.28.1
ruff==0.12.11
